<IfModule mod_rewrite.c>

  RewriteEngine On

  RewriteRule ^home/?$ index.html [NC,L]

  RewriteRule ^contato/?$ enviar_contato.php [NC,L]
  
  RewriteRule ^home/?$ index.html [NC,L]

  RewriteRule ^contato/?$ enviar_contato.php [NC,L]
  
</IfModule>

ErrorDocument 404 /404.html